@mixin doc-table-style($table-width){
  table.doc{
    width: $table-width;
    border: 1px solid #f0f0f0;
    thead, tbody{
      background-color: #f0f0f0;
      tr{
        display: flex;
        th, td{
          padding: 12px;
          text-align: left;
          font-size: 13px;
          color: #5c6b77;
          flex: 1
        }
        th:nth-child(2), td:nth-child(2){
          flex: 3;
        }
        td:nth-child(3){
          color: #c41d7f;
        }
        td{
          color: #595959;
          font-weight: 600;
          border-bottom: 1px solid #f0f0f0;
        }
      }
    }
    tbody{
      background-color: #fff;
    }
  }
}