.navigation{
  i{
    font-size: 13px;
  }
  user-select: none;
  .menu-vertical{
    border:none
  }
  .menu-item{
    padding: 0;
    margin-bottom: 5px;
    a{
      color: #666;
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 10px 0 10px 20px;
    }
  }
  .menu-item:hover{
    a{
      color: rgb(64, 158, 255)!important
    }
  }
  .submenu-item{
    &:hover{
      a {
        color: #666!important;
      }
    }
    .submenu-title{
      padding: 15px 15px 15px 20px;
      color: #666!important;
      &:hover{
        color: rgb(64, 158, 255)!important
      }
    }
    .menu-item{
      padding: 0;
      padding-left: 1rem;
      color: #666;
      &:hover{
        a{
          color: rgb(64, 158, 255)!important
        }
      }
    }
  }
  .is-active{
    border-right: 3px solid #0d6efd;
    a{
      color: rgb(64, 158, 255)!important;
    }
  }
}