
.navigation{
  .menu-vertical{
    border:none
  }
  .menu-item{
    padding: 0;
    a{
      color: rgb(191, 203, 217);
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 15px 0 15px 20px;
    }
  }
  .menu-item:hover{
    background-color: #263445;
    a{
      color: rgb(64, 158, 255)
    }
  }
  .submenu-item{
    .submenu-title{
      padding: 15px 15px 15px 20px;
    }
    &:hover{
      background-color: transparent;
      .J-submenu a{
        color: rgb(191, 203, 217);
      }
    }
    .menu-item{
      padding: 0;
      padding-left: 1rem;
      color: rgb(191, 203, 217);
      &:hover{
        a{
          color: rgb(64, 158, 255)
        }
      }
    }
  }
  .is-active{
    background-color: rgb(48, 65, 86)!important;
    &:hover{
      background-color: #263445!important;
    }
    a{
      color: rgb(64, 158, 255)!important;
    }
  }
}